* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid rgb(45, 120, 186);
    display: flex;
    flex: 100%;
    flex-direction: column;
    gap: 10px;
    
}
.item1 {
    c
    border: 10px solid rgb(45, 120, 186);
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    gap: 10px;
    background: red;
    
}
.item2 {
    background: blue;
    border: burlywood;
}
.item3 {
    background: yellow;
}
.item4 {
    background: orange;
}